<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>MusicPlayer</title>
		<script src="vue.js" type="text/javascript" charset="utf-8"></script>
		<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
	</head>
	<body>
		<!-- 音乐播放器 -->
		<div class="app">
			<!-- 头部 -->
			<div class="header">
				<!-- 标题 -->
				<div id="title">意听</div>
				<!-- 搜索框 -->
				<div class="search">
					<input type="text" id="search" v-model="keywords" @keyup.enter="search"/>
					<input type="button" id="search_button" @click="search"/>
				</div>
				
			</div>
			<!-- 主要内容 -->
			<div class="main">
				<!-- 音乐列表 -->
				<div class="musicList">
					<ul>
						<li id="music" class="musics" v-for="music in musics" >
							
							<img src="resource/音乐标识2.png" id="musicIcon" @click="playMusic(music.id)">
							{{music.name}}
							<img src="resource/MV图标.png" id="mvIcon" v-if="music.mvid!=0" @click="playMV(music.mvid)">
						</li>
					</ul>
				</div>
				<!-- 封面图片-唱片动画 -->
				<div class="animation">
					<img :src="picture_src" id="picture" :class="[playAnimation?'play':'stop']">
					<img id="animation_picture" src="resource/唱片.png" :class="[playAnimation?'play':'stop']">
					<img src="resource/唱针.png" id="stylus" :class="[playAnimation?'off':'']" @click="touchStylus">
				</div>
				<!-- 评论信息栏 -->
				<div class="comment" dir="rtl">
					<div id="title2">热门评论</div>
					<ul>
						<li id="comment" v-for="hotComment in hotComments">
							<div class="singleComment">
								<div class="subInfo">
									<img :src="hotComment.user.avatarUrl" id="profilePicture" >
								</div>
								<div class="subComment">
									<h3 id="nickName">{{hotComment.user.nickname}}</h3>
									<div id="comment_text">{{hotComment.content}}</div>
								</div>
							</div>
						</li>
		
					</ul>
				</div>
				
			</div>
			<!-- 尾部 -->
			<div class="footer">
				<audio :src="music_src" controls="controls" id="musicPlayer" autoplay="autoplay" @play="play" @pause="stop">
					
				</audio>
				<div class="mask" v-show="isShow" @click="stopMV"></div>
				<video id="mvPlayer" width="800" height="" :src="mv_src" autoplay="autoplay" v-show="isShow" controls="controls">
					
				</video>
				
			</div>
		</div>
		<!-- 引入样式和脚本 -->
		<link rel="stylesheet" type="text/css" href="MusicPlayerStyle.css"/>
		<script src="MusicPlayerScript.js" type="text/javascript" charset="utf-8"></script>
	</body>
</html>
